.input {
  &__label {
    display: block;
    margin-bottom: .5rem;
  }

  &__el {
    display: block;
    padding: .5rem;
    width: 100%;

    &--checkbox {
      width: auto;
    }
  }
}

.error {
  .input__el, &--message{
    border-color: red;
    color: red;
  }

  &--message {
    text-align: right;
  }
}

.select {
  &__option {
    background-color: $light-grey;
    cursor: pointer;
    padding: .5rem;
    max-width: 20rem;

    & + & {
      margin-top: 1rem;
    }
  }
}